@font-face {
  font-family: "Regular";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/thin-uber-font.woff2') format("woff2")
;
}

@font-face {
  font-family: "Medium";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/thick-uber-font.woff2') format("woff2")
;
}

body {
  font-family: Regular, serif;
  background-color: black;
  color: white;
}

.link {
  text-decoration: underline;
}

.eatsBody {
  background-color: rgb(117, 180, 55);
}

header {
  font-size: 56px;
  margin-left: 50px;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-family: Medium, serif;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.lifetime {
  margin: 10px 0px 10px 50px;
  display: flex;
}

.individual-stat {
  font-size: 18px;
  padding-top: 5px;
}

.stat {
  color: #a8a8a8;
}

.stat-eats {
  color: #092a00;
}

.stats-view {
  padding-right: 40px;
}

.spacer {
  line-height: 40px;
}

.subheading {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.buttons {
  display: flex;
  width: 700px;
  margin: 0 auto;
}

.button {
  font-size: 20px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  flex: 1 1 auto;
  text-transform: uppercase;
  padding: 1px;
  margin: 20px 5px 5px;
  color: black;
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px transparent;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0px;
  border: 1px solid white;
}

.chart-container {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
}

.hidden {
  display: none;
}
