@font-face {
    font-family: "Regular";
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/sf-compact-thin.woff') format("woff2");
}

@font-face {
    font-family: "Medium";
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/sf-compact-medium.woff') format("woff2");
}

@font-face {
    font-family: "Bold";
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/sf-compact-bold.ttf') format("truetype");
}

body {
    font-family: Medium, serif;
    background-color: black;
    color: white;
}

.link {
    text-decoration: underline;
}

.eatsBody {
    background-color: rgb(117, 180, 55);
}

header {
    font-size: 56px;
    font-family: Bold, serif;
    margin-left: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

h1 {
    font-family: Medium, serif;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.lifetime {
    margin: 10px 0 10px 50px;
    display: flex;
}

.individual-stat {
    font-size: 18px;
    padding-top: 5px;
}

.stat {
    color: #a8a8a8;
}

.stat-eats {
    color: #092a00;
}

.stats-view {
    padding-right: 40px;
}

.spacer {
    line-height: 40px;
}

.subheading {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.buttons {
    display: flex;
    width: 700px;
    margin: 0 auto;
}

.button {
    font-size: 20px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 1px;
    margin: 20px 5px 5px;
    color: black;
    text-align: center;
    display: inline-block;
    background-color: white;
    border: 1px transparent;
}

.button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 0;
    border: 1px solid white;
}

.chart-container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none;
}

.info-container{
    padding: 20px;
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px 0;
}

.info-header {
    /* Total carbon footprint */
    font-family: Bold, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 8px;
}

.info-text {
    /* By poolsharing, you’ve saved 15kt of C02, equivalent to the anual offset of 284 trees */


    font-family: SF Compact Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;


}

#first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-content {
    display: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

@-webkit-keyframes rightarrow {
    0% { -webkit-transform: translateX(0);  }
    50% { -webkit-transform: translateX(10px); }
    100% { -webkit-transform: translateX(-0em); }
}

#next {
    font-size: 40px;
    cursor: pointer;
    animation: rightarrow 2000ms linear infinite;
    animation-delay: 2s;

}

.info-value{
    font-weight: bold;
    color: #1FD470;

}